/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MIX */
.opacity0 {
  display: none;
}

.opacity1 {
  display: inline;
  color: red;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* BODY */
.container {
  height: 100vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  background-color: #FDBB40;
  padding: 60px 40px 40px;
}

/* Main */
main {
  padding: 40px;
  height: 100%;
}

.main_container > * {
  margin-bottom: 10px;
}

.main_container h2 {
  width: 100%;
}

.container-ingredient {
  width: 50%;
  float: left;
}

.container-coupon {
  width: 100%;
}

.btn-condition {
  width: 100%;
}

/* Footer */
footer {
  padding: 40px;
  background-color: #D33359;
  color: white;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

footer #total {
  font-size: 25px;
  font-weight: 700;
}
