/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MIX */
.container {
  width: 800px;
}

.opacity0 {
  display: none;
}

.opacity1 {
  display: inline;
  color: red;
}

/* Header */
header {
  background-color: #FDBB40;
  padding: 60px 40px 40px;
}

/* Main */
main {
  padding: 40px;
}

main > * {
  margin-bottom: 10px;
}

/* Footer */
footer {
  padding: 40px;
  background-color: #D33359;
  color: white;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

footer #total {
  font-size: 25px;
}
